html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../images/background.jpg);
}

h1 {
    color: #1879A7;
    font-size: 80px;
}

h2 {
    color: #1879A7;
    font-size: 50px;
}

.centertext {
    text-align: center;
    display: block;
}

header {
    background-color: white;
    margin: 0;
    width: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #FEC9A7;
    width: 100%;
    color: black;
    text-align: center;
}

aside {
    float: right;
    width: 45%;
    margin: 10px;
    text-align: justify;
}

section {
    float: left;
    width: 50%;
}

.product {
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
    border: solid;
    border-color: #F197C0;
    width: 250px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #F197C0;
}

#menu {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    background-color: #F197C0;
    font-family: Arial;
}

#menu li {
    float: right;
    height: 30px;
    line-height: 30px;
}

#menu li a {
    display: block;
    padding: 0 20px;
    color: #FFF;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #C5EBFE;
    text-decoration: none;
}

#users {
    width: 200px;
    max-width: 500px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#users td,
#users th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even) {
    background-color: #f2f2f2;
}

#users tr:hover {
    background-color: #ddd;
}

#users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #C5EBFE;
    color: white;
}

.reviewscroll {
    width: 900px;
    height: 500px;
    overflow: scroll;
}

#review-form .star-rating {
    display: inline-flex;
    flex-direction: row-reverse;
}

#review-form input,
#review-form textarea {
    background: none repeat scroll 0 0 #333333;
    border: 0 none;
    color: #fff;
    margin: 0;
    max-width: 100%;
    padding: 7px 4px;
}

#review-form .radio {
    display: inline-block;
}

#review-form input[type=radio] {
    display: none;
}

#review-form input[type=radio]+label {
    display: block;
}

#review-form input[type='radio']+.label_star:before {
    margin-bottom: 0px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 8px;
    width: 23px;
    color: #f3cd6d;
    background: rgba(66, 66, 66, 0.445);
}

#review-form input[type=radio]+.label_star::before {
    content: "\f006";
}

#review-form input[type=radio]:checked~.label_star::before {
    content: "\f005";
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #FEC9A7;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffa66f;
    color: black;
}

.topnav a.active {
    background-color: #ffa66f;
    color: black;
}

.topnav .search-container {
    float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

#addcart {
    font-size: 15px;
    background-color: #f3cd6d;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
}

#addcart:hover {
    background-color: #ffb700;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}